# Dependency directories
node_modules/
jsp_node_modules/

# Build outputs
dist/
build/
.angular/

# Environment files
.env
.env.*
env/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
Thumbs.db
Desktop.ini
